@font-face {
  font-family: "iconfont";
  /* Project id 4579762 */
  src: url('/static/styles/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qian:before {
  content: "\e70c";
  color: #ffdd00;
}

.icon-dianhua:before {
  content: "\e629";
}